<%= erb :branches %>
<%= erb :breadcrumbs %>
<%= @blob.name %> (View <a href="<%= object_path(:type => :raw) %>">raw</a>)
<% if readme?(@blob.name) %>
    <%= readme(@blob) %>
<% else %>
    <div class="highlight">
        <pre><%= Pygments.highlight(@blob.data, :lexer => 'ruby') %></pre>
    </div>
<% end %>
