<div class="breadcrumbs">
    <strong><a href="<%= repo_path(@repo) %>"><%= @repo.name %></a></strong> /
</div>
<div class="bubble">
    <table class="tree-browser" cellpadding="0" cellspacing="0">
        <thead>
            <tr class="header">
                <th></th>
                <th>name</th>
                <th>age</th>
                <th>message</th>
            </tr>
        </thead>
        <tbody>
            <% @object.trees.each do |tree| %>
                <tr>
                    <td class="icon"><img src="/img/dir.png" /></td>
                    <td class="content"><a href="<%= object_path(tree) %>"><%= tree.name %></a></td>
                    <td class="age"></td>
                    <td class="message"></td>
                </tr>
            <% end %>
            <% @object.blobs.each do |blob| %>
                <tr>
                    <td class="icon"><img src="/img/txt.png" /></td>
                    <td class="content"><a href="<%= object_path(blob) %>"><%= blob.name %></a></td>
                    <td class="age"></td>
                    <td class="message"></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<% readme = @repo.readme(@object) %>
<% if readme %>
    <div id="readme" class="bubble">
        <span class="name"><span class="icon"></span><%= readme.name %></span>
        <div class="file">
            <%= GitHub::Markup.render readme.name, readme.data %>
        </div>
    </div>
<% end %>
