<%= erb :branches %>
<%= erb :breadcrumbs %>
<div class="bubble">
    <table class="tree-browser">
        <thead>
            <tr class="header">
                <th></th>
                <th>name</th>
                <th>age</th>
                <th>message</th>
            </tr>
        </thead>
        <tbody>
            <% @tree.contents.each do |obj| %>
            <tr>
                <td></td>
                <td>
                    <% if obj.is_a?(Grit::Blob) %>
                        <a href="<%= blob_path(obj) %>"><%= obj.name %></a>
                    <% else %>
                        <a href="<%= tree_path(obj) %>"><%= obj.name %></a>/
                    <% end %>
                </td>
                <td></td>
                <td></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<div class="bubble readme">
<%= readme(@tree.contents) %>
</div>
