<!DOCTYPE html>
<html>
<head>
  <title>Station</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <section id="user">
    <% if user_signed_in? %>
      <%= gravatar_image_tag(current_user.email, :alt => current_user.email) %>
      Signed in as <%= current_user.email %>
    <% end %>
  </section>

  <nav>
    <span>Dashboard</span>
    <span>Repositories</span>
    <span>Issues</span>
  </nav>

  <section id="alerts">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :class => "#{name}" if msg.is_a?(String) %>
    <% end %>
  </section>


  <%= yield %>

</body>
</html>
